;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.2.0"]]

  :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn app.main/init}}
   :js-options {:anon-fn-naming-policy :unmapped
                             :js-provider :external
                             :external-index "target/index.js"
                             :external-index-format :esm}}}}
