;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :dev-http {9000 "public"}

  :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn app.main/init}}
   }}}
